# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/
renv/library/
renv/staging/

# Shiny
rsconnect/
shinylogs/

# Sistema operacional
.DS_Store
Thumbs.db

# Python auxiliar
__pycache__/
*.pyc
.ipynb_checkpoints/

# Logs e temporários
*.log
*.tmp
*.bak

# Ambientes locais
.env
.venv/
venv/

# Arquivos compactados temporários
*.zip
!data/raw/kaggle_football_players_stats_2025_2026.zip
